#mission-button {
    transition: transform 0.3s ease;
}

#mission-button:hover {
    transform: scale(1.1);
}

#missionPopup {
    max-height: 400px; /* Altura máxima con scroll */
    overflow-y: auto; /* Activar desplazamiento vertical si excede la altura */
    width: 320px; /* Ancho fijo */
    background-color: #ffffff;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Sombra */
    padding: 16px;
    z-index: 50;
    border: 2px solid #000000; /* Borde negro de 2 píxeles */
}


#missionList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 12px;
}

.mission-item {
    background-color: #f3f4f6;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.mission-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mission-name {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 8px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mission-progress {
    font-size: 0.8rem;
    color: #6b7280;
}

.mission-reward {
    font-size: 0.9rem;
    color: #10b981;
    font-weight: bold;
    margin-top: 8px;
}

.mission-check {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #10b981;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mission-item.completed .mission-check {
    opacity: 1;
}

.mission-item.completed {
    background-color: #e6fffa;
}

#noMissions, #nextMissions {
    text-align: center;
    margin-top: 16px;
}

#countdown {
    font-weight: bold;
    color: #4b5563;
}

#missionToggle {
    border: 2px solid #ffffff; /* Borde blanco */
    background-color: #dc2626; /* Color de fondo rojo */
    color: #ffffff; /* Color del texto blanco */
    border-radius: 50%; /* Borde redondeado para forma circular */
    width: 64px; /* Ancho del botón */
    height: 64px; /* Altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Sombra */
    transition: background-color 0.2s ease;
}

#missionToggle:hover {
    background-color: #b91c1c; /* Color de fondo rojo oscuro al hacer hover */
}
